.intro-text {
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
    margin: 100px;
    margin-top: 0px;
    max-width: 30vw;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
}

@media (max-width: 1199px) {
    .intro-text {
        width: 90vw;
        margin: 0px;
        margin-bottom: 10px;
        max-width: 100%;
    }
    .intro {
        flex-wrap: wrap;
        flex-direction: row;
        margin: 10px;
    }
    .portrait {
        margin-bottom: 100px;
    }
    h1, h2 {
        margin: 10px 0px;
    }
}

h1 {
    font-size: clamp(2rem, 0.75rem + 1.5vw, 3rem);
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}